{% extends 'layouts/base.html.twig' %}
{% block body %}
<h1>Hello Tunisia</h1>
<p>It's currently {{ 'now'|date('h:i A','Africa/Tunis') }}</p>

<h1>{{ pluralize(arts|length,'Article')}} </h1>

<body >


{% for i in arts %}

    <Article>
        <h2><a href="{{ path('app_articles_show',{idArticle: i.idArticle}) }}">{{ i.nomA }}</a></h2>
        <p>{{ i.descriptionA|u.truncate(50)}}</p>
        <p>Soumis {{ i.createdAt|ago }}</p>  

    </Article>
{% endfor %}
</body>

{% endblock %}

